@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height for loading */
  }
  
  .loading-animation .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px; /* Size of the spinner */
    height: 60px; /* Size of the spinner */
    animation: spin 1s linear infinite; /* Animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  